{
    "menu" : [
        {
            "name" : "首頁"
        },
        {
            "name" : "選單1",
            "submenu" : [
                {
                    "name" : "子選單1"
                },
                {
                    "name" : "子選單2"
                }
            ]
        }
    ]
}
